* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    font-size: 22.5px;
}

.nav {
    display: flex;
    background-color: black;
    color: white;
}

.nav>li {
    padding: 15px 30px;
    position: relative;
    border-right: 1px solid white;
}

.nav>li>a {
    display: block;
}

.nav li:hover .subnav {
    display: block
}

.nav li:hover {
    background-color: rgb(47, 255, 57)
}

.subnav {
    display: none;
    position: absolute;
    background-color: rgb(194, 188, 188);
    color: black;
    padding-left: 0;
    top: 60px;
    left: 0;
    width: 345px;
}

.subnav li {
    padding: 12px 24px;
}

.subnav li:hover {
    background-color: green;
}

.subnav li a {
    font-size: 15px!important;
}